[Desktop Entry]
Version=1.0
Type=Application
Categories=Settings;HardwareSettings;
Terminal=false
Exec=/bin/bash YOUR/PATH/CONKY/myhackconky.sh
Name=conky
Icon=/home/omen/CONKY/distributions-slackware.png
X-Desktop-File-Install-Version=0.26
